a {
	color: #E73E3E;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 3rem 0 2rem;
	line-height: 2.2;
}
li {
	margin: .9rem 0;
	line-height: 2.2;
}
#mainHeader {
	margin-top: 0;
}
#mainFooter {
	padding: 0 30px;
	height: 30px;
	line-height: 30px;
	font-size: .9rem;
	margin-bottom: 15px;
}
h1 {

}
article {
	padding-bottom: 90px;
}
article header {
	height: auto;
	background: #333;
	margin-bottom: 90px;
	background: #E73E3E;
	color: white;
	margin-top: 180px;
}
article header h2 {
	margin: 0;
	padding: 0;
	font-size: 90px;
	line-height: 1.4;
}
article header .row {
	padding-top: 90px;
	text-align: center;
	max-width: 900px;
}
article header .quote {
	line-height: 1.6;
	font-size: 16px;
	margin: .3rem 0 0 0;
}
article header .quote span {
	color: #eee;
	color: rgba(255,255,255,.9);
	font-style: italic;
}
.row {
	width: 60%;
  max-width: 760px;
  margin: 0 auto;
}
.btn {
	display: inline-block;
	height: 55px;
	line-height: 55px;
	padding: 0 4rem;
	text-decoration: none;
	color: white;
	background: #E73E3E;
	border-radius: 3px;
	transition: background 300ms;
	width: 100%;
	text-align: center;
}
.btn:hover {
	background: #F05757;
}
#pageIco {
	margin: 0 auto;
	text-align: center;
}
.linkList {
	color: #E73E3E;
}
.linkList a {
	text-decoration: none;
}
.linkList a:hover {
	text-decoration: underline;
}
.linkList.done,
.process .linkList.done {
	color: #222;
}
.linkList.done a {
	color: #222;
	text-decoration: none;
}
.linkList.done a:hover {
	text-decoration: underline;
}
/*.linkList.done .current {
	border-bottom: 1px dotted #222;
}
.linkList.done .current:hover {
	border-bottom: none;
}*/
h3 {
	margin: 90px 0 0 0;
	text-align: center;
	font-size: 30px;
}
h3 ~ p {
	margin-top: 15px;
}

nav {
	margin-top: 120px;
	text-align: center;
}

.goalContainer {
	font-size: 26px;
	padding: 45px 0;
	background: rgba(0,0,0,.15);
	margin-top: 120px;
	font-family: 'Raleway', sans-serif;
}
.goalContainer .row,
.goalContainer .row p {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.goalContainer .row span{
	opacity: .6;
}


#mainFooter div {
	float: left;
}
#mainFooter small,
#mainFooter span,
#mainFooter a {
	line-height: 1;
}
#mainFooter nav {
	font-size: 80%;
	float: right;
	margin: 0;
	padding-top: 1px;
}

@media all and (max-width: 599px) {
	.row {
		width: 90%;
	}
	.btn {
		height: 35px;
		line-height: 35px;
		padding: 0 1.2rem;
	}
	.linkList,
	nav .btn {
		font-size: 12px;
	}
	body {
		font-size: 14px;
		line-height: 2;
	}
	article header {
		height: auto;
		padding-bottom: 60px;
		margin-bottom: 60px;
	}
  article header h2 {
		font-size: 45px;
	}
	article header .quote {
		line-height: 1.6;
		font-size: 16px;
		margin: 0;
	}
	#mainFooter {
		font-size: .6rem;
	}
	.goalContainer {
		font-size: 20px;
		padding: 30px 0;
		margin-top: 90px;
	}
	.goalContainer p {
		line-height: 1.2;
	}
}
